body{
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
}

a{
    color: white;
    text-decoration: none;
}


.container


.container input{
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    align-items: baseline;
    overflow: auto;
    width: 75%;
    padding: px;
    margin: 5px 0;
}

.menu a{
    font-size: 20px;
    padding: 0 10px;
}

.header{
    background-color: #336ca6;
    overflow: auto;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
}

.header img {
  float: left;
  width: 60px;
  height: 60px;
}

.header h1 {
  font-family: 'Sawarabi Mincho', sans-serif;
  position: center;
  top: 18px;
  left: 10px;
}

body, html {
    height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  letter-spacing: 1;
  label-size: 20px
  justify-content: space-evenly;
  position: fixed;
  max-width: 100%;
  padding: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color:rgba(0, 0, 0, 0.8);

}


.hero-image {
  display: flex;
  flex-direction: row;
  background-image: url("https://media.giphy.com/media/j799vOJwBbKEGvLAQ4/giphy.gif");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  text-align: center;
}

.hero-form{
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: space-evenly;
  position: fixed;
  align-items: space-evenly;
  text-align: space-evenly;
}


.campo{
  display: flex;
  font-size: 20px
  flex-direction: row;
  align-self: auto;
  align-content: baseline;
  justify-content: space-between;
  text-align: space-between;
  width: 100%
  font-size: 30px;
  align-items: baseline;
}

.container h1{
  font-family: 'Sawarabi Mincho', sans-serif;
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFF0;
	padding: 10px 40px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#336ca6),
		to(#336ca6));
	background: linear-gradient(
		top,
		#336ca6 0%,
		#336ca6);
	border-radius: 10px;
	border: 0px solid #a7bfd6;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.footer {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  align-items: center;
  padding: 0 10px;
}

.rodape{
font-size: 10px;
text-align: center;
}


.rodape rodape2 {
 font-size: 10px;
}

.rodape img{
width: 30px;
padding-left: 0px;
padding-right: 100px;
}