<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste Landing</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
    <h1>
        <a href="index.html">CredKlayton</a>
    </h1>
</div>

<div class="hero-image">
    <div class="hero-text">
        <h1>CredKlayton</h1>
        <h3>Testado e aprovado pelos financiadores.</h3>
        <p>Olá! Nós somos a CredKlayton. Seremos responsáveis pela simulação do seu financiamento e selecionaremos o melhor banco de acordo com o que você procura.</p>
        <button>Simulação</button>
    </div>
</div>
    </div>
</div>




</body>